<div>
    
    <!-- This is for generating the top bar -->
  <div class="navbar navbar-fixed-top"> 
    <div class="navbar-inner">
      <div class="container">
         <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class ="brand">linkur</div>
      
        <div class="nav-collapse collapse">
          <div class="menu">
          <ul class="nav pull-right" >
            <li data-toggle="modal" data-target="#joinGroupModal" ng-click="showJoinGroupModal()"><a href="#">Join a Group</a></li>
            <li><a href="/#/settings">Change Password</a></li>
            <li ng-click="logout()"><a href="#">{{uname}} Logout</a></li>
          </ul>
          </div>
          
        </div>
      </div> 
    </div>
  </div>

</br>
</br>
</br>
</br>


  <!-- This is for generating the layout -->
  <div class="container-fluid" >

    <!-- Top bar -->
      <div class="row-fluid">
            <form class="form-horizontal span6 offset3">
              <div class="control-group">
                <input type="text" ng-model="searchQuery" class="input-large  span6">
                <button type="submit" class="btn btn-primary margin2" ng-click="search()">Search</button>
              </div>
            </form>
    <!-- End of top bar -->

            <!-- Modal to add url-->
            <!-- Button to add Modal -->
            <div class="btn-toolbar">
              <!-- <div class="btn-group"> -->
                <a class="btn" title="Add Post" href="#" data-toggle="modal" data-target="#addURLModal" class="btn btn-primary" type="button" ng-click="showAddURLModal()"><i class="icon-plus"></i><i class="icon-magnet"></i></a>
                <a class="btn" title="Add Group" href="#" data-toggle="modal" data-target="#addGroupModal" class="btn btn-primary" type="button" ng-click="showAddGroupModal()"><i class="icon-plus"></i><i class="icon-user"></i><i class="icon-user"></i><i class="icon-user"></i></a>
              <!-- </div> -->
            </div>
            
            <addurl></addurl>
            <addgroup></addgroup>
            <removemodal></removemodal>
            <sharegroup></sharegroup>
            <joingroup></joingroup>
      </div>

      <div class="row-fluid">
        <!-- Sidebar -->
        <div class="span3">
          <div class="row-fluid">
            <div class="well sidebar-nav">
              <ul class="nav nav-list">
                <li class="nav-header"><h4>Groups</h4></li>
                <li class="group-item" ng-repeat="group in groups">

                <div class="row-fluid" ng-class='{active:$first}'>
                    <a class="span7 group-ptr" ng-click="selectGroup($event, group)">{{group.name}}</a>
                    <!-- Placeholder for share & remove icons -->
                    <div class="offset3 span2">
                      
                      <div class="btn-group">
                          <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                             <i class="icon-cog"></i> 
                              <span class="caret caret-no-color"></span>
                          </a>
                          <ul class="dropdown-menu settings-panel">
                          <!-- dropdown menu links -->
                            <li data-toggle="modal" data-target="#shareGroupModal" ng-click="onShareGroup($event, group)">
                              <a tabindex="-1" href="#">Share</a>
                            </li>
                            <li data-toggle="modal" data-target="#removeModal" ng-click="onRemoveGroup($event, group)">
                              <a tabindex="-1" href="#">Delete</a>
                            </li>
                          </ul>
                      </div>
                    </div>
                    <!-- End of placeholder for settings button -->

                  </div>
                </li>
              </ul>
            </div>
          </div>

        <!-- End of sidebar -->
        </div>

        <!-- container for data -->
        <div class="span9">

          <!-- start of base container for list of posts -->
          <div class="row-fluid" id = "base-data-container">
            
              <!-- start of template for each post -->
              <div class="row-fluid" ng-repeat="post in posts | orderBy:'date':true">

                <div class="well">
                  <!-- row for Title & user -->
                  <div class="row-fluid">                  

                    <!-- placeholder for title -->
                    <div class="span10">
                      <div><h3>{{post.title}}</h3></div>
                    </div>

                    <!-- placeholder for delete button -->
                    <div class="offset1 span1">
                      <div class="btn-group">
                          <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                             <i class="icon-cog"></i> 
                              <span class="caret"></span>
                          </a>
                          <ul class="dropdown-menu settings-panel">
                          <!-- dropdown menu links -->
                            <li data-toggle="modal" data-target="#addURLModal" ng-click="onEditPost($event, post)">
                              <a tabindex="-1" href="#">Edit</a>
                            </li>
                            <li data-toggle="modal" data-target="#removeModal" ng-click="onRemovePost($event, post)">
                              <a tabindex="-1" href="#">Delete</a>
                            </li>
                          </ul>
                      </div>

                    </div> 
                  </div>
                    

                  <!-- row for link & date -->
                  <div class="row-fluid">
                    <!-- placeholder for link -->
                    <div class="span10 valign-middle">
                      <a target="_blank" href={{post.link}}>{{post.link}}</a>
                    </div>

                    <!-- placholder for user -->
                    <div rel="tooltip" title="Added By" class="span2 valign-middle pull-right">
                      <h3><small class="pull-right">{{post.added_by}}</small></h3>
                    </div>
                  </div>  

                  <!-- row for tags -->
                  <div class="row-fluid">
                    <!-- placeholder for tags -->
                    <div class="lead span10">
                      <code ng-repeat="tag in post.tags | orderBy:'toString()'" class="margin2">{{tag}}</code>
                    </div>

                    <!-- placeholder for date -->
                    <div rel="tooltip" title="Added at" class="span2 pull-right">
                      <h5><small class="pull-right">{{post.date | date:'dd-MM-yyyy hh:mm a'}}</small></h5>
                    </div>

                  </div>
                </div>

            <!-- End of post template -->
              </div>      

        <!-- End of base containe for posts list -->
          </div>
    <!-- End of span9 container -->
        </div>
      </div>

</div>
