<div class="login-base">

    <div id="alert-container" class="container" style="display:none;">
      <div class="alert" >
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <span>{{authError}}<span>
      </div>
    </div>
    
    <div class="container">
      <form class="form-signin">
        <h2 class="form-signin-heading">Securely change password</h2>
        <input id="reg-pwd" type="password" class="input-block-level" ng-model="changePwd.oldPwd" placeholder="Current Password">
        <input id="reg-pwd" type="password" class="input-block-level" ng-model="changePwd.newPwd" placeholder="New Password">
        <input id="reg-repeat" type="password" class="input-block-level" ng-model="changePwd.repeat" placeholder="Repeat">
        <button id="btn-signin" class="btn btn-large btn-primary" ng-click="onChangePassword()">Change Password</button>
      </form>
    </div>
    
    
</div>