<div ng-show="flags.isAddUrlModal">
              <div id="addURLModal"class="modal fade">
                <div class="modal-header"><button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>Add New URL</h3></div>
                <div class="modal-body">
                  <!-- modal body comes here -->
                  <div>
                    <form id="frmAddURL" class="form-horizontal">

                      <!-- input for title -->
                      <div class="control-group">
                        <div class="">
                          <input type="text" class="input-xxlarge offset1 span10" ng-model="newPost.ipTitle" placeholder="Title">
                        </div>
                      </div>

                      <!-- input for URL -->
                      <div class="control-group">
                        <div class="">
                          <input type="text" class="input-xxlarge offset1 span10" ng-model="newPost.ipURL" placeholder="URL">
                        </div>
                      </div>

                      <!-- select component for group -->
                      <div class="control-group" >
                        <div class="">
                          <select ng-model="newPost.ipGroup" class="input-xxlarge offset1 span10" ng-options="g.name for g in groups"></select>
                        </div>
                      </div>
                    
                      <!-- input for Tags -->
                      <div class="control-group">
                        <div class="">
                          <input type="text" class="input-xxlarge offset1 span10" ng-model="newPost.ipTags" placeholder="Tag1,Tag for something,Tag3">
                        </div>
                      </div>
                    </form>
                    <!-- progress bar -->
                    <div id="addURLProgress" class="progress progress-warning progress-striped active">
                      <div class="bar" style="width: 100%;"></div>
                    </div>
                  </div>

                </div>
                <div class="modal-footer">
                  <div class="control-group">
                        <div class="controls">
                          <button id="submitURL" class="offset3 btn btn-large btn-primary span6" type="button" ng-click="addUrl()">Add</button>
                        </div>
                  </div>

                </div>
              </div>
            </div> 
              
            <!-- End of Modal -->