<div ng-show="flags.isShareGroupModal">
  <div id="shareGroupModal"class="modal fade">
    <div class="modal-header">
    	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    	<h3>Share Group</h3>
    </div>
    <div class="modal-body">
      <!-- modal body comes here -->
      <div>
        <form id="frmAddGroup" class="form-horizontal">
          <!-- input for title -->
          <div class="control-group">
            <div class="row-fluid">
              <label>Group Name</label>
              <span type="text" class="input-xxlarge uneditable-input span5" ng-model="sharedGroup.name" placeholder="Group Name">{{sharedGroup.name}}</span>
            </div>
            </div>
          <div class="control-group">
            <div class="row-fluid">
              <label>Sharer ID</label>
              <span type="text" class="input-xxlarge uneditable-input span5" ng-model="sharedGroup.hash" placeholder="Group Name">{{sharedGroup.hash}}</span>
            </div>
            </div>
          </div>
        </form>
      </div>
</div> 
              
            <!-- End of Modal -->